In [1]:
#tuple

tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [2]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [4]:
list1=list(tup1)
list1[2]=100
tup1=tuple(list1)
tup1

(12, 3, 100, 'abc', True)

In [5]:
#builtin methods
#count and index 

print(tup1.count(12))
print(tup1.index(12))

1
0

In [6]:
#unpacking

tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [7]:
#packing
x=10,20,30
print(type(x))

<class 'tuple'>

In [8]:
#tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [9]:
#iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

In [11]:
#SETS

set1={1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [12]:
#iterating through set
for ele in set1:
    print(ele)

1
2
5
6
45
334

In [15]:
#builtin functions of sets
set1={1,2,5,6,45,334}
print(len(set1))
print(min(set1))
print(max(set1))
print(set(set1))

6
1
334
{1, 2, 5, 6, 45, 334}

In [16]:
#builtin methods of sets
#for creating an empty set and add an element
set2=set()
print(type(set2))

<class 'set'>

In [17]:
#adding elememts
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [20]:
#removing elements  pop,remove,discard,clear
set2.pop()
set2.remove(12)

KeyError: 12

In [21]:
set2.remove(12)
set2

KeyError: 12

In [22]:
set2.discard(12)

In [24]:
set2.clear()
set2

set()

In [27]:
#union(A U B),difference(A-B OR B-A),intersection,subsets,superset,disjoint sets,symmetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}
#union
print(A.union(B))
#difference
print(A.difference(B))
print(B.difference(A))
#intersection
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [28]:
#subset,superset,disjoint sets
#symmetric difference

C={1,2,3,4,5,6,7,8,9,10}

print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [29]:
#disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [31]:
#symmetric difference A-B U B-A
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [32]:
A.update(B) #A-> AUB
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [34]:
A.intersection_update(B) #A->A INTERSECTION B
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [35]:
A.difference_update(B)#A->A-B
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [36]:
A.symmetric_difference_update(B)#A->A-B U B-A
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [42]:
#DICTIONARY
#creating a dictionary
dict1={"name":"meghana","rollno":"9028","address":"hyd"}   #key:value
print(dict1)

{'name': 'meghana', 'rollno': '9028', 'address': 'hyd'}

In [44]:
#extracting an element from dictionary
print(dict1["rollno"])

9028

In [45]:
#removing/deleting an entry from the dictionary
del dict1["address"]
print(dict1)

{'name': 'meghana', 'rollno': '9028'}

In [46]:
#adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'meghana', 'rollno': '9028', 'course': 'python'}

In [47]:
#builtin methods in dictionaries: keys(),values(),items()
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'rollno', 'course'])
dict_values(['meghana', '9028', 'python'])
dict_items([('name', 'meghana'), ('rollno', '9028'), ('course', 'python')])

In [49]:
#extracting an element from dictionary 
print(dict1["name"])
print(dict1.get("name"))

meghana
meghana

In [50]:
#adding an entry
dict1["address"]="hyd"
dict1

{'name': 'meghana', 'rollno': '9028', 'course': 'python', 'address': 'hyd'}

In [51]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'meghana', 'rollno': '9028', 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [52]:
#removing an entry pop(),popitem()
dict1.pop("name")
dict1

{'rollno': '9028', 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [53]:
dict1.popitem()

(3, 3)

In [54]:
dict1

{'rollno': '9028', 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}