In [1]:
list1=list(range(1,11))
list2=[]
for i in list1:
    if i%2 ==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [3]:
#list comprehension
list3=[i for i in list1 if i%2 ==0]
print(list3)

[2, 4, 6, 8, 10]

In [5]:
#accept string as input and print all the digits and count of digits using list comprehension
#input: "Hello 12345"
#output: ['1','2','3','4','5'],5
string=(input("enter a string:"))
list4=[ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a string:Hello 12345
['1', '2', '3', '4', '5'] 5

In [6]:
list5=list(range(1,11))
list6=list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
result=[list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [8]:
#zip--> to iterate through multiple iterable objects
result=[x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [9]:
#annonymous functions(lamda functions)
#syntax: lamda arguments: logic
s=lambda x: x**2
s(12)

144

In [10]:
add=lambda x,y:x+y
add(10,20)

30

In [11]:
#MAP
list6=list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#output: [2,4,6,8,10,12,14,16,18,20]
result=[i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#using map function
# map(functionname,iterable object)
result=list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
'10 20 30'.split()

['10', '20', '30']

In [18]:
#unpacking
x,y,z=list(map(int,input("enter your input:").split()))
print(x,y,z)

enter your input:10 20 30
10 20 30

In [19]:
#FILTER

list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
result=[]
for i in list6:
    if i%5==0:
        result.append(i)
result

[5, 10]

In [22]:
list(filter(lambda x : x%5 ==0,list6))

[5, 10]

In [24]:
#REDUCE()
from functools import reduce

In [25]:
#traditional way
list1=[1,2,3,4,5]
#ouput: 120(product of all numbersin list1)
m=1
for i in list1:
    m*=i
print(m)

120

In [26]:
#using lambda
reduce(lambda x,y:x*y,list1)

120