In [1]:
import pandas as pd  #loading data

In [3]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

## How to write logic you mentioned
the communication score should be greater than 6

In [5]:
placement_data['Communication'] > 6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [6]:
st = [311,6]
def placement_prediction(st):
    if st[1]>6:
        return "YES"
    else:
        return "NO"

In [7]:
placement_prediction(st)

'NO'

MACHINE LEARNING

In [ ]:
#algorith, model
-Decision tree classifier
-Available DTC

 DecisionTreeClassifier
 -fit(features,target)/fit(inputs,outputs)
     (communication,placed)
     features-->2D array, placed --> 1D array
 -predict(features)

### Get communication column as 2D array

In [8]:
placement_data['Communication'].shape

(5,)

In [9]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [10]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [13]:
import sklearn   #machine learning algorithm
from sklearn.tree import DecisionTreeClassifier     #decision tree classifier
dtc= DecisionTreeClassifier()
# training  the model
dtc.fit(placement_data[['Communication']],placement_data['Placed'])
#after you run the above line you will get trained model in dtc

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [15]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [16]:
#predict for the unknown student data
dtc.predict([[8]])

array(['Yes'], dtype=object)

## Labelled and Unlabelled data
- labelled means along with placed column
- unlabelled is without placed column

In [17]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [22]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
#after this cell in variable lr you have trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

#### y=m1x1 +m2x2+c
predict m1,m2 and c

In [20]:
lr.coef_    ##m1 and m2

array([2.5, 2. ])

In [21]:
lr.intercept_   #c

10.000000000000007

In [23]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [24]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64